<section id="userexperience">
  <div class="container" >
    
      
        <h2 class="opOph2">
          {{ .Params.userExpH }}
        </h2>
        
   
      <div class="row">
        <div class=" col-lg-4">
        <h5 class="opOph5">{{ .Params.userExpC }}</h5>
        </div>

    <div class="opOpBg col-lg-8" style="background-image: url('{{ .Params.userExpImg }}');">
    </div>
  </div>
  </div>

</section>
<section>
  <div class="container " >
    <div class="row justify-content-sm-center "> 
      <div class="col-sm-9 col-md-6">
        <div class="">
          <div class="row">
        <div class="capOpHExp">
        
          <div class="d-inline-flex">
          <div class="" >
            <h3><span class="capOpH1"> {{ .Params.bookMH1 }}</span>  <span class="capOpH2">{{.Params.bookMH1a}} 
             
             {{ .Params.bookMH2 }} </span></h3>
          </div>
          <div class="">
            <img class="logoOpImg logoOpImg1" src="{{.Params.bookMImg}}" alt="Transo user Experience" class="src">
          </div>
        </div>
       <div>
        <ul class="list-unstyled business" >
          <li>{{ .Params.bookMC }}</li>
          <li>{{ .Params.bookMC1 }}</li>
          <li>{{ .Params.bookMC2 }}</li>
          <li>{{ .Params.bookMC3 }}</li>
          <li>{{ .Params.bookMC4 }}</li>
          <li>{{ .Params.bookMC5 }}</li>
         </ul>
        </div>
      </div>
       </div>
        </div>

        <div>
        <div class="row">
        <div class="capOpHExp ">
          <div class="d-inline-flex ">
          <div class="">
            <h3> <span class="capOpH1"> 
              {{ .Params.digTH1 }}</span>
              <br/><span class="capOpH2">{{ .Params.digTH2 }} </span> </h3>
            
          </div>
          <div class="">
            <img class="logoOpImg" src="{{.Params.digTImg}}" alt="Transo user experience" class="src" >
          </div>
          </div>
          <div>
          <ul class="list-unstyled">
            <li>{{ .Params.digTC }}</li>
            <li>{{ .Params.digTC1 }}</li>
            <li>{{ .Params.digTC2 }}</li>
            <li>{{ .Params.digTC3 }}</li>
            <li>{{ .Params.digTC4 }}</li>
           </ul>
        </div>
      </div>
      </div>
      </div>
      </div>

      <div class="col-sm-9 col-md-6 ">
        <div>
        <div class="row ">
        <div class="capOpHroute capOpHExp ">
          <div class="d-inline-flex">
          <div class="" >
            <h3 > <span class="capOpH1"> 
              {{ .Params.rtMH1 }}</span>
              <br/><span class="capOpH2"> {{ .Params.rtMH2 }} </span></h3>
            </div>
          <div class="">
            <img class="logoOpImg" src="{{.Params.rtMImg}}" alt="Transo User Experience" class="src">
          </div>
          </div>
          <ul class="list-unstyled">
            <li>{{ .Params.rtMC }}</li>
            <li>{{ .Params.rtMC1 }}</li>
            <li>{{ .Params.rtMC2 }}</li>
            <li>{{ .Params.rtMC3 }}</li>
          </ul> 
        </div>
      </div>
    </div>
      </div>
    </div>
    </div>

</section>
